@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'JetBrainsMono', monospace;
    background: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #eee;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 8px;
    color: #7fdcff;
}

ul {
    margin-top: 0;
}

.description h2 {
    color: #ff9900; 
    border-bottom: 1px solid #444;
    display: inline-block;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #333;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts a {
    color: #00ff88; 
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9em;
    transition: color 0.3s;
}

.contacts a:hover {
    color: #ffffff;
    text-decoration: underline;
}