@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'JetBrainsMono', monospace;
    background: #111;
    color: #eee;
}

header {
    background: #222;
    padding: 10px;
}

nav a {
    color: #eee;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 8px;
    color: #7fdcff;
}

ul {
    margin-top: 0;
}

.description h2 {
    color: #ff9900; 
    border-bottom: 1px solid #444;
    display: inline-block;
}
